.comments-container {
    display: flex;
    width: 90%;
    justify-content: center;
}

table {
    flex-flow: column;
    justify-content: space-between;
}

button {
    max-width: 100px;
    font-size: 2em;
}

td.comment-info {
    width: max-content;
}

div.comment-buttons {
    font-size: 0.75em;
    height: max-content;
    padding-bottom: 1%;
    padding-top: 1%;
}

thead.comment-update {
    display: flex;
    justify-content: center;
    text-align: center;
}